<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<title> Html Form </title>
		<link rel="stylesheet" type="text/css" href="../../css/html_page.css">

		
	</head>
	<body>
		<div class="form-style-9">
			<div class="tabcontent">
				<form>
					<ul>
						<li> <input type="text" id="name" class="field-style" placeholder="Page Component Name" required /> </li>
						<li> <input type="number" id="position" class="field-style" placeholder="Page Position" required /> </li>
						<li> <textarea name="field5" class="field-style" id="html_input" placeholder="HTML .." required ></textarea> </li>
						<li> <input type="button" value="Insert Page" id="insert_btn" /> </li>
					</ul>
				</form>
			</div>
		</div>
		<script src="../../js/html_page_component.js"> </script>
	</body>
</html>
